.text_user{
	font-size: 15px;
	font-weight: 300;
	font-family: 宋体;
	text-align: center;
	width: 120px;
	color: rgb(0,0,0);
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
}
.view_main{
	width: 1200px;
	padding: 0px;
	display: flex;
	margin: 0px;
}
.view_cards{
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.view_card{
	width: 300px;
	height: 300px;
	background-color: rgba(255,255,255,0.8);
	border: solid 1px #bbb;
	border-radius: 1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-right: 20px;
	margin-top: 20px;
	cursor: pointer;
}
/*点击用户弹出的小方框*/
.view_userAdmin{
	width: 170px;
	position: absolute;
	right:10px;
	top: 60px;
	background-color: rgba(200,200,200,0.8);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	margin: 0px;
}
/*小方框中每一项的样式*/
.option_userAdmin{
	width: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid 1px #ccc;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}
.img_star{
	width: 14px;
	height: 14px;
	margin: 0px;
	padding: 0px;
}
.text_normal{
	color: rgb(60,60,60);
	font-family: 宋体;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}